<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  <body>
    <h1> Movies by Category </h1>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        
      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

  </div>
    <form action='#' method='post'>
      <p>Name: </p>
        <input type='text' size='30' name='title' placeholder="Lord of the Rings" >
        </br>
        </br>
        <input type='text' size='30' name='director' placeholder="Peter Jackson" >
        <input type='submit' value='Edit'>
        </br>
        </br>
        <a href='/'> Go Back</a>
    </form>
  </body>
</html>